/* default css */

table {
 font-size: 1em;
 line-height: inherit;
 border-collapse: collapse;
 border: 1px solid #000;
}

tr {
 text-align: left;
}

td {
 border: 1px solid #000;
}

body {
 margin: 6px;
 padding: 0px;
 font-family: Verdana, sans-serif;
 font-size: 13px;
 background-color: #ffffff;
}

img {
 -moz-force-broken-image-icon: 1;
}
h1, h2, h3, h4, h5, h6 {
color: Black;
font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
margin: 0.75em 0 0.25em 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
color: Black;
text-decoration: none;
}
h1 {
font-size: 160%;
}
h2 {
font-size: 150%;
}
h3 {
font-size: 125%;
border-bottom: none;
font-weight: bold;
}
h4 {
font-size: 110%;
border-bottom: none;
font-weight: bold;
}
h5 {
font-size: 100%;
border-bottom: none;
font-weight: bold;
}
h6 {
font-size: 12px;
border-bottom: none;
font-weight: bold;
}
ul {
line-height: 1.5em;
}
ol {
line-height: 1.5em;
}
li {
margin-bottom: 0.5em;
}
dt {
font-weight: bold;
}
dd {
line-height: 1.5em;
margin-bottom: 1em;
}
abbr, acronym, .explain {
border-bottom: 1px dotted Black;
color: Black;
background-color: transparent;
cursor: help;
}

abbr .explain {
border-bottom: none;
}
q {
font-family: Baskerville, Georgia, serif;
font-style: italic;
font-size: 120%;
}
blockquote {
padding-left: 0.5em;
margin-left: 0;
border-left: 4px solid #CCCCCC;
color: #76797C;
}
code, tt {
font-family: Monaco, "Courier New", Courier, monospace;
font-size: 120%;
color: Black;
background-color: #EDF3FE;
padding: 0 0.1em;
}
pre {
font-family: Monaco, "Courier New", Courier, monospace;
font-size: 100%;
padding: 1em;
border: 1px solid #CCCCCC;
color: Black;
background-color: #EDF3FE;
overflow: auto;
}
ins {
color: green;
text-decoration: none;
}
del {
color: red;
text-decoration: line-through;
}

